---
---

@import "{{ site.theme }}";

code {
   font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
   font-size: 85%;
   background-color: #f8f8f8;
   border-radius: 3px;
   margin: 0;
   padding: .2em .4em;
}

body {
   max-width: 600px;
}

/* iotspot green */
h3, h4, h5, h6 {
   color: #92be2e;
}

h3 a {
   color: #92be2e;
}

img.shadowed {
   border: solid 1px #ddd;
   box-shadow: 5px 5px 3px #ddd;
}
